body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
  scrollbar-width: none; 
}
@font-face {
  font-family: 'Poppins-Black';
  src: local('Poppins'), url(./Assets/Fonts/Poppins-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins'), url(./Assets/Fonts/Poppins-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins'), url(./Assets/Fonts/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Semibold';
  src: local('Poppins'), url(./Assets/Fonts/Poppins-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Italic';
  src: local('Poppins'), url(./Assets/Fonts/Poppins-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Cursive';
  src: local('Cursive'), url(./Assets/Fonts/CedarvilleCursive-Regular.ttf) format('truetype');
}


code {
  font-family: monospace;
}

* {
  
}